
.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.imageContainer {
    position: relative;
    width: max-content;
    margin: 0 auto;
}