h2 {
  text-align: center;
}

.container {
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
  ul {
    list-style-type: none;
    li {
      border-top: 3px solid black;
      border-right: 3px solid black;
      border-left: 3px solid black;
      font-size: 1.3rem;
      padding: 1rem;
      .name {
        font-weight: bold;
        text-align: center;
      }
      .record span {
        color: rgb(146, 255, 3);
        text-decoration: underline;
        font-size: 1.5rem;
      }
    }
    li:last-child {
      border-bottom: 3px solid black;
    }
  }
  span {
    color: rgb(168, 26, 26);
    text-decoration: underline;
  }
}
